

<html>

  <head>

    <style type="text/css">
    .field {float: left; width: 33.33%; padding: 50px;}
    .photo {float: left; width: 250px; max-height:350px; padding: 10px; }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .product{
      border: 1px solid silver;
    }
    .pending { background-color: white; color: red; padding: 5px; }
    a { color: #aaaaff; }
    
    h1 { font-family: "Courier New"; }

    body { color: white; background-color: #333333; font-family: "Arial"; padding: 10px;}
    
    </style>

  </head>

<body>
  <h1> Welcome to Fregas's Olde Compyuter Shoppe </h1>

  <p>In addition to the listed items below, I also have various cables, power supplies, some tools, more electronics and computer peripherals.
  In cases where I have multiple items mentioned or an assortment of items, prices are per each.  All sales final.  Local pickup only at my garage in Fort Worth, TX, probably on Saturday mornings.  No holds please. 
  </p>
  <p>If you're interested in coming by to get something or just look at my messy garage of stuff, please email me with what you're interested in: <a href="mailto:vintagesales@mediaartisans.com">vintagesales@mediaartisans.com</a></p>
  <p>Accepted payment will be cash, venmo or paypal friends & family.</p>
  <p> "Best Offer" below means I have no idea how to price it and will probably sell it cheap.  </p>
  <h3>Trades:</h3>
  <p>I will do trades.  Things I'm looking for currently are:</p>
  <li>An omnibot 5402 robot, working or not</li>
  <li>An amiga RGB to VGA adapter</li>
  <li>Amiga 1200 power supply, working, new or vintage </li>
  <li>Any vintage loose or boxed games, especially for Commodore, Apple, Tandy/DOS, NES, Genesis </li>
  <li>Anything commodore, vintage apple or tandy, especially peripherals, books, magazines, joysticks, cartridges.</li>
  <li>A working vintage boombox from the 1980s</li>
  <li>Vintage D&D books, Middle Earth RPG, Shadowrun, etc.  
  <li>Some vintage toys like He-Man MOTU, Transformers, Voltron</li>
  <li>Vintage handheld standup Coleco games</li>
  <li>Ast Advantage Tower computer and monitor: <a href="https://i.ebayimg.com/images/g/otAAAOSwol5Y3r02/s-l300.jpg">Like this</a></li>

  <p>&nbsp;</p>

  <% for item in @items %>
    <% if item["Name"] != nil %> 
    <div id="product" class="clearfix product">
      <div class="field">
        <h2><%= item["Name"] %></h2>
        <b>Model#:</b> <%= item["Model#"]%> <br />
        <b>Condition:</b> <%= item["Condition"] %><br />
        <b>Asking Price:</b> <%= item["Price"] %>
      <% if item["Price"] == nil %>Best Offer<% end %>
      <% if item["Interested"] != nil %> 
        <span class="pending"> Pending </span>
      <% end %>
        
        <p><%= item["Description"] %></p>
      </div>
      <div class="field"> 
        <% for photo in  CsvData.get_urls(item) %>
          <a href="<%= photo %>" target="_blank" title="<%= photo %>"><img src="<%= photo %>" class="photo" /></a>
        <% end %>
      </div>
    </div>
    <% end %> 
  <% end %>

  <br />
  <h2> That's all folks </h2>

</body>
</html>


